# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# https://currate.ru
CURRENCY_API_KEY=your_api_key_here
# https://api-ninjas.com
STOCK_API_KEY=your_api_key_here
